<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MalibuCommerce_MConnect::mconnect" title="Mconnect" translate="title" sortOrder="100">
                    <resource id="MalibuCommerce_MConnect::queue" title="Manage Queue" translate="title" sortOrder="10" />
                    <resource id="MalibuCommerce_MConnect::rule" title="Manage Price Rules" translate="title" sortOrder="20" />
                    <resource id="MalibuCommerce_MConnect::promo" title="Manage Mconnect Price Rule" translate="title" sortOrder="30" >
                        <resource id="MalibuCommerce_MConnect::price_rule" title="Manage Mconnect Price Rule" translate="title" sortOrder="10" />
                        <resource id="MalibuCommerce_MConnect::price_rule_import" title="Manage Mconnect Price Rule Import" translate="title" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MalibuCommerce_MConnect::config" title="MConnect Section" translate="title" sortOrder="100" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
