<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <malibucommerce_mconnect>
            <general>
                <enabled>1</enabled>
            </general>
            <queue>
                <delete_after>90</delete_after>
                <error_after>30</error_after>
            </queue>
            <customer>
                <max_rows>50</max_rows>
                <default_website>1</default_website>
                <default_group_taxable>1</default_group_taxable>
                <default_group_nontaxable>3</default_group_nontaxable>
                <new_email_enabled>0</new_email_enabled>
                <new_email_identity>general</new_email_identity>
                <new_email_template>malibucommerce_mconnect_customer_new</new_email_template>
            </customer>
            <product>
                <max_rows>50</max_rows>
                <import_attribute_set>4</import_attribute_set>
                <import_type>simple</import_type>
                <import_visibility>4</import_visibility>
                <import_tax_class>2</import_tax_class>
            </product>
            <invoice>
                <max_rows>50</max_rows>
                <capture_type>online</capture_type>
                <send_email_enabled>0</send_email_enabled>
            </invoice>
            <shipment>
                <max_rows>50</max_rows>
                <send_email_enabled>0</send_email_enabled>
            </shipment>
            <price_rule>
                <max_rows>50</max_rows>
            </price_rule>
        </malibucommerce_mconnect>
    </default>
</config>
