<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <malibucommerce_mconnect>
            <general>
                <enabled>0</enabled>
            </general>
            <queue>
                <cron_expr>* * * * *</cron_expr>
                <delete_after>90</delete_after>
                <error_after>30</error_after>
            </queue>
            <nav_connection>
                <log>1</log>
                <allow_insecure_connection>0</allow_insecure_connection>
                <connection_timeout>300</connection_timeout>
                <ntlm>1</ntlm>
            </nav_connection>
            <customer>
                <import_enabled>1</import_enabled>
                <cron_expr>0 * * * *</cron_expr>
                <max_rows>50</max_rows>
                <default_nav_id></default_nav_id>
                <default_website>1</default_website>
                <default_group_taxable>1</default_group_taxable>
                <default_group_nontaxable>3</default_group_nontaxable>
                <new_email_enabled>0</new_email_enabled>
                <new_email_identity>general</new_email_identity>
                <new_email_template>malibucommerce_mconnect_customer_new</new_email_template>
            </customer>
            <product>
                <import_enabled>1</import_enabled>
                <cron_expr>0 * * * *</cron_expr>
                <max_rows>50</max_rows>
                <import_attribute_set>4</import_attribute_set>
                <import_type>simple</import_type>
                <import_visibility>4</import_visibility>
                <import_tax_class>2</import_tax_class>
            </product>
            <inventory>
                <import_enabled>1</import_enabled>
                <cron_expr>*/10 * * * *</cron_expr>
                <max_rows>50</max_rows>
            </inventory>
            <order>
                <import_enabled>1</import_enabled>
                <hold_new_orders_export>0</hold_new_orders_export>
                <hold_new_orders_delay>60</hold_new_orders_delay>
                <order_status_when_synced_to_nav>nav_preparing_for_shipment</order_status_when_synced_to_nav>
                <allowed_order_statuses_to_export>pending</allowed_order_statuses_to_export>
            </order>
            <invoice>
                <import_enabled>1</import_enabled>
                <cron_expr>*/10 * * * *</cron_expr>
                <max_rows>50</max_rows>
                <capture_type>online</capture_type>
                <send_email_enabled>1</send_email_enabled>
            </invoice>
            <shipment>
                <import_enabled>1</import_enabled>
                <cron_expr>*/10 * * * *</cron_expr>
                <max_rows>50</max_rows>
                <send_email_enabled>1</send_email_enabled>
                <create_invoice_with_shipment>0</create_invoice_with_shipment>
                <cancel_remaining_not_shipped_items>0</cancel_remaining_not_shipped_items>
            </shipment>
            <price_rule>
                <import_enabled>1</import_enabled>
                <cron_expr>0 * * * *</cron_expr>
                <max_rows>50</max_rows>
            </price_rule>
        </malibucommerce_mconnect>
    </default>
</config>
