<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mconnect_queue_grid_data_source" xsi:type="string">MalibuCommerce\MConnect\Model\Resource\Adminhtml\Queue\Grid\Collection</item>
                <item name="mconnect_pricerule_grid_data_source" xsi:type="string">MalibuCommerce\MConnect\Model\Resource\Adminhtml\Pricerule\Grid\Collection</item>
                <item name="sales_order_grid_data_source" xsi:type="string">MalibuCommerce\MConnect\Model\Resource\Order\Grid\Collection</item>
                <item name="customer_listing_data_source" xsi:type="string">MalibuCommerce\MConnect\Model\Resource\Customer\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="malibucommerce_mconnect_processitem" xsi:type="object">MalibuCommerce\MConnect\Console\Command\ProcessItemCommand</item>
                <item name="malibucommerce_mconnect_importall" xsi:type="object">MalibuCommerce\MConnect\Console\Command\ImportAllCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="orderStatesPlugin" type="MalibuCommerce\MConnect\Plugin\OrderPlugin" />
    </type>
    <type name="Magento\Framework\View\Layout\Reader\Visibility\Condition">
        <plugin name="mconnect_layout_visibility_condition_plugin" type="MalibuCommerce\MConnect\Plugin\Framework\View\Layout\Reader\Visibility\ConditionPlugin" />
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="nav_id" xsi:type="string">sales_order.nav_id</item>
            </argument>
        </arguments>
    </virtualType>
</config>