<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="malibucommerce_mconnect" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Malibu Connect</label>
            <tab>service</tab>
            <resource>MalibuCommerce_MConnect::config</resource>

            <group id="info" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>Information</label>
                <field id="version" sortOrder="10" type="label" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <label>Malibu Connect Version</label>
                    <frontend_model>\MalibuCommerce\MConnect\Block\Adminhtml\System\Config\Version\Module</frontend_model>
                </field>
            </group>

            <group id="general" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>General</label>
                <field id="enabled" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="nav_connection" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>NAV Connection</label>
                <field id="url" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>NAV SOAP API URL</label>
                </field>
                <field id="username" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Username</label>
                </field>
                <field id="password" sortOrder="30" type="password" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Password</label>
                    <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="allow_insecure_connection" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Allow Insecure Connection</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Allows MConnect SOAP API client to connect to NAV server w/o SSL/TLS certificate verification]]></comment>
                </field>
                <field id="connection_timeout" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Connection Timeout</label>
                    <comment><![CDATA[Connection Timeout to NAV server in seconds. If set to 0, default value will be used: 10 seconds]]></comment>
                </field>
                <field id="ntlm" sortOrder="60" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Authentication Method</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Source\Authentication</source_model>
                </field>
                <field id="test_connection" translate="label comment" type="button" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>\MalibuCommerce\MConnect\Block\Adminhtml\System\Config\Connection\Test</frontend_model>
                    <label />
                    <comment><![CDATA[Save credentials before testing!]]></comment>
                </field>
                <field id="trigger_password" sortOrder="80" type="password" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Trigger Password</label>
                    <backend_model>\Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Password used when clicking links in NAV to trigger syncs]]></comment>
                </field>
                <field id="reveal_trigger_password" translate="label comment" type="button" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>\MalibuCommerce\MConnect\Block\Adminhtml\System\Config\Connection\TriggerPassword</frontend_model>
                    <label />
                </field>
                <field id="log" sortOrder="90" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Log Requests</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[May consume a large amount of disk space.]]></comment>
                </field>
                <field id="log_to_db" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Save Request Logs to DB</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Save logs to Magento database instead of files. File logs still will be shown if no logs found in database (fallback feature)]]></comment>
                    <depends>
                        <field id="log">1</field>
                    </depends>
                </field>
                <field id="retry_on_failure" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Retry NAV Requests On Failure When Exporting Data from NAV</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Each consequent retry <strong>Export</strong> request will be delayed by certain amount of seconds that will increase with each attempt. Delay in seconds formula is: 2<sup>n</sup>, where n = CURRENT_RETRY_ATTEMPT_NUMBER]]></comment>
                </field>
                <field id="retry_max_count" sortOrder="110" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Maximum NAV Export Requests Retry Attempts On Failure</label>
                    <comment><![CDATA[Maximum Retry Attempts before interrupting NAV <strong>Export</strong> requests. The more attempts allowed, the longer delay will be between further attempts.]]></comment>
                    <depends>
                        <field id="retry_on_failure">1</field>
                    </depends>
                </field>

                <field id="send_error_emails" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Error Emails</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="error_email_sender" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="send_error_emails">1</field>
                    </depends>
                </field>
                <field id="error_email_recipient" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Email Recipient</label>
                    <validate>validate-emails</validate>
                    <comment><![CDATA[Comma-separated emails]]></comment>
                    <depends>
                        <field id="send_error_emails">1</field>
                    </depends>
                </field>
                <field id="error_email_template" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="send_error_emails">1</field>
                    </depends>
                </field>
            </group>

            <group id="queue" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Synchronization Queue</label>
                <field id="cron_expr" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Schedule (cron syntax)</label>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                </field>
                <field id="delete_after" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Remove from queue after (days)</label>
                    <comment>Number of days to keep historical queue data.  Leave empty to disable.</comment>
                </field>
                <field id="error_after" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Mark queue item as errored after (minutes)</label>
                    <comment>Amount of time after which a processing  queue item will be marked as errored.</comment>
                </field>
                <field id="max_pages_per_execution" sortOrder="40" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Maximum NAV data pages to process per one queue item run</label>
                    <comment>This is needed in order avoid large amount of data processing failures due to staled/gone corn job process after long period of time.</comment>
                </field>
            </group>

            <group id="customer" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Customer</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_enabled" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Export Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="40" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="default_nav_id_magento_guest" sortOrder="50" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default NAV ID For Magento Guest Customers</label>
                    <comment><![CDATA[Leave blank to disable]]></comment>
                </field>
                <field id="default_nav_id_magento_registered" sortOrder="60" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default NAV ID For Magento Newly Registered Customers</label>
                    <comment><![CDATA[Leave blank to disable]]></comment>
                </field>
                <field id="default_group_taxable" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default group for new customers (taxable)</label>
                    <source_model>\Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="default_group_nontaxable" sortOrder="80" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default group for new customers (non-taxable)</label>
                    <source_model>\Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="default_website" sortOrder="90" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default website for new customers</label>
                    <source_model>\Magento\Config\Model\Config\Source\Website</source_model>
                </field>
                <field id="send_new_customer_emails" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Password Reset Email to a New Customers Imported from NAV</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="new_customer_email_sender" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password Reset Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="send_new_customer_emails">1</field>
                    </depends>
                </field>
                <field id="new_customer_email_template" translate="label comment" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password Res Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="send_new_customer_emails">1</field>
                    </depends>
                </field>
                <field id="show_reports" sortOrder="130" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Enable NAV Reports In Customer Account</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="nav_reports_allowed_customer_groups" sortOrder="140" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>NAV Reports Allowed Customer Groups</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Source\CustomerGroups</source_model>
                    <depends>
                        <field id="show_reports">1</field>
                    </depends>
                </field>
            </group>

            <group id="product" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Product</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="8" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="import_attribute_set" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default attribute set for new products</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Product\Attribute\Set</source_model>
                </field>
                <field id="import_visibility" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default visibility for new products</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Product\Visibility</source_model>
                </field>
                <field id="import_tax_class" sortOrder="60" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Default tax class for new products</label>
                    <source_model>\Magento\Tax\Model\TaxClass\Source\Product</source_model>
                    <backend_model>\Magento\Tax\Model\Config\TaxClass</backend_model>
                </field>
                <field id="set_in_stock" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Set Product Stock Status to "In Stock" if QTY > "0"</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_new_products" sortOrder="80" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Disable New Imported Products</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="inventory" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Inventory</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="8" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="set_in_stock" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Set Product Stock Status to "In Stock" if QTY > "0"</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="order" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Order</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_enabled" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Export Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hold_new_orders_export" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Hold New Orders Export</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>\MalibuCommerce\MConnect\Block\Config\Frontend\Field\HoldNewExport</frontend_model>
                </field>
                <field id="hold_new_orders_delay" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>New Orders Sync Delay</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment><![CDATA[In minutes]]></comment>
                    <depends>
                        <field id="hold_new_orders_export">1</field>
                    </depends>
                </field>
                <field id="order_status_when_synced_to_nav" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Order Status When Synced to NAV</label>
                    <source_model>\Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="hold_new_orders_export">1</field>
                    </depends>
                </field>
                <field id="allowed_order_statuses_to_export" sortOrder="50" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Allowed Order Statuses to be Exported to NAV</label>
                    <source_model>\Magento\Sales\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="export_disallowed_customer_groups" sortOrder="60" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Export Disallowed Customer Groups</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Source\CustomerGroups</source_model>
                </field>
                <field id="gift_wrapping_force_enabled" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>GiftWrapping Functionality Forcefully Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="invoice" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Invoice</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="8" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="capture_type" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default invoice capture type</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Sales\Invoice\Capture\Type</source_model>
                </field>
                <field id="send_email_enabled" sortOrder="40" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Send invoice email to customers</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Shipment</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="8" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="send_email_enabled" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Send Shipment Email To Customers</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="create_invoice_with_shipment" sortOrder="40" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Create Invoice When Shipment Is Created</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Refer to "Invoice" configuration section on this page for invoicing settings.]]></comment>
                </field>
                <field id="skip_shipment_but_invoice_for_virtual_orders" sortOrder="50" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Skip Shipment and still Create Invoice for Virtual Orders</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="create_invoice_with_shipment">1</field>
                    </depends>
                </field>
                <field id="cancel_remaining_not_shipped_items" sortOrder="60" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Cancel Remaining Order Items For Partial Shipments</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If set to "Yes" then for any partial shipment remaining not shipped order items will be canceled and order status will changed to Complete.]]></comment>
                </field>
            </group>

            <group id="price_rule" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Price Rule</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Import Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ignore_magento_errors" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Ignore Magento Logical Errors</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Will allow continuation of NAV sync process by changing last sync date even if there were any Magento Logical Exceptions during the sync process]]></comment>
                </field>
                <field id="cron_expr" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Schedule (cron syntax)</label>
                    <comment><![CDATA[<a href="http://crontab.guru/" target="_blank">Need help?</a>]]></comment>
                    <backend_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Backend\Cron</backend_model>
                </field>
                <field id="max_rows" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import Entity Limit Per Request</label>
                </field>
                <field id="disallowed_customer_groups" sortOrder="40" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Customer Groups Disallowed for Price Rules</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\Config\Source\CustomerGroups</source_model>
                </field>
            </group>
            <group id="promotion" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                <label>Live Promotional Price</label>
                <field id="import_enabled" sortOrder="5" type="select" showInDefault="1" showInWebsite="1" showInStore="0" translate="label">
                    <label>Enabled</label>
                    <source_model>\Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_ttl" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Price TTL</label>
                    <comment><![CDATA[Time for storing promotional price in the magento cache]]></comment>

                </field>
            </group>
        </section>
    </system>
</config>