<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="malibucommerce_mconnect" translate="label" sortOrder="500" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>M-Connect</label>
            <tab>service</tab>
            <resource>MalibuCommerce_MConnect::config</resource>
            <group id="info" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Information</label>
                <field id="version" sortOrder="10" type="label" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>M-Connect Version</label>
                    <frontend_model>\MalibuCommerce\MConnect\Block\Adminhtml\System\Config\Version\Module</frontend_model>
                </field>
            </group>
            <group id="general" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>General</label>
                <field id="enabled" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="nav_connection" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>NAV Connection</label>
                <field id="url" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>NAV SOAP API URL</label>
                </field>
                <field id="username" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Username</label>
                </field>
                <field id="password" sortOrder="40" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Password</label>
                </field>
                <field id="test_connection" translate="label comment" type="button" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>MalibuCommerce\MConnect\Block\Adminhtml\System\Config\Connection\Test</frontend_model>
                    <label />
                    <comment>Save credentials before testing!</comment>
                </field>
            </group>
            <group id="queue" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Synchronization Queue</label>
                <field id="delete_after" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Remove from queue after (days)</label>
                    <comment>Number of days to keep historical queue data.  Leave empty to disable.</comment>
                </field>
                <field id="error_after" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Mark as errored after (minutes)</label>
                    <comment>Number of minutes after which a running process will be marked as errored.</comment>
                </field>
            </group>
            <group id="customer" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Customer</label>
                <field id="max_rows" sortOrder="20" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import entity limit per request</label>
                </field>
                <field id="default_group_taxable" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default group for new customers (taxable)</label>
                    <source_model>\Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="default_group_nontaxable" sortOrder="40" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default group for new customers (non-taxable)</label>
                    <source_model>\Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="default_website" sortOrder="50" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default website for new customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Website</source_model>
                </field>
                <field id="new_email_enabled" sortOrder="60" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Send password reset email to new customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="new_email_identity" sortOrder="70" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Password reset email sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="new_email_template" sortOrder="80" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Password reset email template</label>
                    <!--<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>-->
                </field>
            </group>
            <group id="product" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Product</label>
                <field id="max_rows" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import entity limit per request</label>
                </field>
                <field id="import_attribute_set" sortOrder="40" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default attribute set for new products</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Product\Attribute\Set</source_model>
                </field>
                <field id="import_type" sortOrder="50" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default type for new products</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Product\Type</source_model>
                </field>
                <field id="import_visibility" sortOrder="60" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default visibility for new products</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Product\Visibility</source_model>
                </field>
                <field id="import_tax_class" sortOrder="70" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default tax class for new products</label>
                    <source_model>Magento\Tax\Model\TaxClass\Source\Product</source_model>
                    <backend_model>Magento\Tax\Model\Config\TaxClass</backend_model>
                </field>
            </group>

            <group id="invoice" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Invoice</label>
                <field id="max_rows" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import entity limit per request</label>
                </field>
                <field id="capture_type" sortOrder="20" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Default invoice capture type</label>
                    <source_model>\MalibuCommerce\MConnect\Model\Adminhtml\System\Config\Sales\Invoice\Capture\Type</source_model>
                </field>
                <field id="send_email_enabled" sortOrder="30" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Send invoice email to customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="shipment" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Shipment</label>
                <field id="max_rows" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import entity limit per request</label>
                </field>
                <field id="send_email_enabled" sortOrder="20" type="select" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Send shipment email to customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="price_rule" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                <label>Price Rule</label>
                <field id="max_rows" sortOrder="10" type="text" showInDefault="1" showInWebsite="0" showInStore="0" translate="label">
                    <label>Import entity limit per request</label>
                </field>
            </group>
        </section>
    </system>
</config>