<?xml version="1.0"?>
<!--
/**
 * MalibuCommerce MConnect crontab events observers
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_get_final_price">
        <observer name="malibucommerce_mconnect_price_rule" instance="MalibuCommerce\MConnect\Observer\ProcessFinalPriceObserver" />
    </event>
</config>
